<div class="calendars-wrapper">

<% if params[:format] == 'good_habit' %>
<% habitSelection = @good_habits %>

<% elsif params[:format] == 'bad_habit' %>
<% habitSelection = @bad_habits %>
<% end %>

<% habitSelection.reverse.each do |habit| %>

  <div class="calendar-item">
  <div class="calendar-header">
    <h4> Stats for "<%= habit.title %>"</h4>
    </div>

    <% start_date = (DateTime.current.to_date.beginning_of_week.advance(:days => +1)) -365 %>
    <% end_date = DateTime.current.to_date.end_of_week %>
    <% date_range = (start_date..end_date) %>

    <div class="calendar-container">
      <div class="calendar-leftsidebar">
        <div class="weekly-blank"></div>
        <div class="weekly-day">Mon</div>
        <div class="weekly-blank"></div>
        <div class="weekly-day">Wed</div>
        <div class="weekly-blank"></div>
        <div class="weekly-day">Fri</div>
        <div class="weekly-blank"></div>
        <div class="weekly-blank"></div>
      </div>
    <div class="calendar-body">

    <% date_range.each_slice(7).with_index do |week, index| %>

      <div class="calendar-week super" name="week">

      <% if containsFirstDayOfTheMonth(week) %>

        <div class="month-name">
          <%= findMonth(week)[0...3] %> 
        </div>
      <% else %>
        <div class="month-blank"></div>
      <% end %>

      <% arrayOfData = []%>
      
      <% habit.calendar.stats.each do |data| %>
        <% arrayOfData << data %>
       
      
      <% end %>

    
     
        <% if arrayOfData.count > 0 %>

      
        
          <%  if habit.calendar.stats.find { |i|  week.include?(i.date)  }%>
            <% habit.calendar.stats.reverse.uniq { |s| s.date }.reverse.each do |el| %>
              
              <% success = el.cycle_result_success.to_i %>
              <% total = el.cycle_result_failed.to_i + success %>
              <% percentage =  100 - ((success/total.to_f)*100).to_i %>
              
              <% if week.include?(el.date) %>
              

             
              <% if percentage == 0 && percentage < 16.67  %>
              <% 7.times do %>
              <div class="calendar-day red" id="week-<%= el.id %>" name="day" data-name="calendar-day" data-div-id="<%= el.id%>">
              <div class="day-invis" id="week-<%= el.id %>" name="invis" data-name="invis-day" data-div-id="<%= el.id%>"><%= percentage%>% - <%= week.first.strftime("%d").to_i.ordinalize %> to <%= week.last.strftime("%d").to_i.ordinalize %></div>
              </div>
              <% end %>
              <% elsif percentage >= 0 && percentage < 16.67 %>
              <% 7.times do %>
              <div class="calendar-day orange" id="week-<%= el.id %>" name="day"data-name="calendar-day" data-div-id="<%= el.id%>">
              <div class="day-invis" id="week-<%= el.id %>" name="invis" data-name="invis-day" data-div-id="<%= el.id%>" ><%= percentage%>% - <%= week.first.strftime("%d").to_i.ordinalize %> to <%= week.last.strftime("%d").to_i.ordinalize %></div>
              </div>
              <% end %>
              <% elsif percentage >= 16.67 && percentage < 33.33 %>
              <% 7.times do %>
              <div class="calendar-day orange" id="week-<%= el.id %>" name="day"data-name="calendar-day" data-div-id="<%= el.id%>">
              <div class="day-invis" id="week-<%= el.id %>" name="invis" data-name="invis-day" data-div-id="<%= el.id%>" ><%= percentage%>% - <%= week.first.strftime("%d").to_i.ordinalize %> to <%= week.last.strftime("%d").to_i.ordinalize %></div>
              </div>
              <% end %>
              <% elsif percentage >= 33.33 && percentage < 50 %>
              <% 7.times do %>
              <div class="calendar-day green1" id="week-<%= el.id %>" name="day"data-name="calendar-day" data-div-id="<%= el.id%>">
              <div class="day-invis" id="week-<%=el.id %>" name="invis" data-name="invis-day" data-div-id="<%= el.id%>" ><%= percentage%>% - <%= week.first.strftime("%d").to_i.ordinalize %> to <%= week.last.strftime("%d").to_i.ordinalize %></div>
              </div>
              <% end %>
              <% elsif percentage >= 50 && percentage < 66.67 %>
              <% 7.times do %>
              <div class="calendar-day green1" id="week-<%= el.id %>" name="day"data-name="calendar-day" data-div-id="<%= el.id%>">
              <div class="day-invis" id="week-<%= el.id %>" name="invis" data-name="invis-day" data-div-id="<%= el.id%>" ><%= percentage%>% - <%= week.first.strftime("%d").to_i.ordinalize %> to <%= week.last.strftime("%d").to_i.ordinalize %></div>
              </div>
              <% end %>
              <% elsif percentage >= 66.67 && percentage < 83.33 %>
              <% 7.times do %>
              <div class="calendar-day green2" id="week-<%= el.id %>" name="day"data-name="calendar-day" data-div-id="<%= el.id%>">
              <div class="day-invis" id="week-<%= el.id %>" name="invis" data-name="invis-day" data-div-id="<%= el.id%>" ><%= percentage%>% - <%= week.first.strftime("%d").to_i.ordinalize %> to <%= week.last.strftime("%d").to_i.ordinalize %></div>
              </div>
              <% end %>
              <% elsif percentage >= 83.33 && percentage < 100 %>
              <% 7.times do %>
              <div class="calendar-day green2" id="week-<%= el.id %>" name="day"data-name="calendar-day" data-div-id="<%= el.id%>">
              <div class="day-invis" id="week-<%= el.id %>" name="invis" data-name="invis-day" data-div-id="<%= el.id%>" ><%= percentage%>% - <%= week.first.strftime("%d").to_i.ordinalize %> to <%= week.last.strftime("%d").to_i.ordinalize %></div>
              </div>
              <% end %>
              <% elsif percentage == 100.0 %>
              <% 7.times do %>
              <div class="calendar-day green3" id="week-<%= el.id %>" name="week"data-name="calendar-day" data-div-id="<%= el.id%>">
              <div class="day-invis" id="week-<%= el.id %>" name="invis" data-name="invis-day" data-div-id="<%= el.id%>" ><%= percentage%>% - <%= week.first.strftime("%d").to_i.ordinalize %> to <%= week.last.strftime("%d").to_i.ordinalize %></div>
              </div>
              <% end %>
              <% end %>

              <% end %>
              <% end %>
              
            <% else %>
            <% 7.times do %>
            <div class="calendar-day"></div>
            <% end %>
            <% end %>
         
        <%else%>
        <% 7.times do %>
          <div class="calendar-day"></div>
          <% end %>
        <% end %>
            

       
	    
      </div>

    <% end %>
    </div>
  </div>
  </div>
  
  <% end %>
</div>


<%= javascript_pack_tag 'weekly-stats'%>