
<% success = @checkpoint.good_habit.checkpoints.where(checked: true).count.to_f %>
<% total = @checkpoint.good_habit.announced_checkpoints.to_i %>
<% percentage = ((success/total)*100).round(2) %>
<% left = total - success%>


<div class="habit-days-<%= @checkpoint.good_habit.id%>" id="habit-days">
<div class="spe-cks"><%= image_tag("green_ck_3", :class => "spe-ck") %> <%= success.to_i%></div>
<div class="spe-cks"><%= image_tag("red_ck_4", :class => "spe-ck") %> <%= left.to_i %></div>
</div>