<%= render partial: "elements/header-not-auth.html.erb" %>
<h2 class="page-header"> About</h2>

<div class="step">
  <div class="step-grid-item-1">
  <%= render partial: "elements/schedule.html.erb" %>
  </div>
  <div class="step-grid-item-2">
  <h4>What is an Habit Tracker ?</h4>
  <p>As the name says it will track your habits, the goal is to assist your habits management.</p>
  <p>At the end you'll be rewarded with fantastic statistics about your habits achievements</p>
  </div>
</div>
<div class="step">
<div class="step-grid-item-1">
  <div class="video-link">
  <%= youtube_video "http://www.youtube.com/embed/PZ7lDrwYdZc" %>
  
  </div>
  </div>
  <div class="step-grid-item-2">
  <h4>Why an Habit Tracker ?</h4>
  <p>While I was initially going for a To-do List, I found out a video about Habits, this is where it started.</p>
  <p>Searched for good PC habit trackers applications and couldn't find one that fited me.</p>
  <p>Also it was a bit challenging for me to do, and as I often say <i>"no challenge = no fun"</i>.</p>
  <p>The original idea comes from a book, here is the link <a href="https://jamesclear.com/atomic-habits">"Atomic Habits by James Clear"</a></p>
    </div>
</div>

<div class="step">
  <div class="step-grid-item-1">
  <%= render partial: "elements/programmer.html.erb" %>
  </div>
  <div class="step-grid-item-2">
  <h4>About me</h4>
  <p>I started learning Webdevelopment and programming in april 2021, 9 months ago</p>
  <p>Im now working with React & Javascript</p>
  <p>But, I wanted to definitely confirm both my backend & frontend skills on Ruby on Rails, CSS & Javascript</p>
  </div>
</div>

<div class="step">
  <div class="step-grid-item-1">
  <%= render partial: "elements/gear.html.erb" %>
  </div>
  <div class="step-grid-item-2">
  <h4>Technologies used</h4>
  <p>One of the goals were to deliver the project in less than 2 weeks, using less libraries as possible</p>
  <p>The only librarie I used is Devise (for authentication), there is not any piece of Bootstrap around, just pure CSS/JS/SVG.</p>
  <p>Here is the <a href="https://github.com/HugoCalmels/Rails_Project_Habits_Tracker">Github</a>.</p>
  </div>
</div>

<div class="step">
  <div class="step-grid-item-1">
  <%= render partial: "elements/feedback.html.erb" %>
  </div>
  <div class="step-grid-item-2">
  <h4>About you</h4>
  <p> Any Feedback, any suggestion ? <strong> make a form email to me page here </strong></p>
  </div>
</div>




