<%= render partial: "elements/header-auth.html.erb" %>

<div class="page">
<h2 class="page-header"><%=@cycle.title.capitalize%> good habits</h2>

<div class="habits-grid-container">

<% @good_habits.each do |habit| %>
<div class="habit-grid" data-hover-target="#modal<%= habit.id%>">

<div class="modal" id="modal<%= habit.id%>"> 
  <div class="modal-header">
    <div class="modal-header-title"> 
    <h5><%= habit.title.capitalize %></h5>
    </div>
    <div class="modal-menu">
    <%= render partial: "elements/edit.html.erb" %>
    <%= render partial: "elements/delete.html.erb" %>
    <button data-close-button class="close-btn"><%= render partial: "elements/close.html.erb" %></button>
    </div>
  </div>
  <div class="modal-body">
  <div class="special-checkboxes">
    <% habit.checkpoints.sort {|a,b| a.id <=> b.id}.each do|checkpoint| %>
    <div class="checkboxe-element">
      <%= form_for habit, url: user_cycle_good_habit_checkpoint_path(@user.id, @cycle.title, habit.id, checkpoint.id), method: "PUT", remote: true do |form|%>
      <div class="checkpoint-data-<%= checkpoint.id %>" id="checkpoint">
        <% if checkpoint.checked == false %>
          <%= form.submit "Submit", :type => :image, :src => image_path("red_ck_3.png"), class: 'btn-submit-danger' %>
        <% elsif checkpoint.checked == true %>
          <%= form.submit "Submit", :type => :image, :src => image_path("green_ck_3.png"), class: 'btn-submit-success' %>
        <% end %>
      </div >
      <% end %>
    </div>
    <% end %>
  </div>
  </div>
</div>

<button  class="custom-model-button" data-modal-target="#modal<%= habit.id%>">

  <div class="habit-wrapper">
    <div class="habit-left-col">
      <div class="habit-title">
      <%= habit.title.capitalize %>
      </div>
      <div class="habit-days">
      since 92 days
      </div>
    </div>
    <div class="habit-rigth-col-<%= habit.id%>">
        <p>Y : <%= habit.checkpoints.where(checked: true).count %></p>
        <p>X : <%= habit.announced_checkpoints - habit.checkpoints.where(checked: true).count %></p>
    </div>
  </div>

  </button>
</div>
<% end %>


</div>
<div id="overlay"></div>
</div>

<i class="fas fa-times"></i>
<i class="fas fa-times"></i>
<i class="fas fa-times"></i>
<i class="fas fa-times"></i>
<i class="fas fa-times"></i>
<%= javascript_pack_tag 'index_gh'%>